# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/

# Dependency directories (remove the comment below to include it)
vendor/

pkg/*/community-controller
pkg/*/system-controller
pkg/*/edge-scheduler
pkg/*/function-deployment-webhook

.idea/
pkg/function-deployment-webhook/deploy/server-key.pem
pkg/function-deployment-webhook/deploy/server-cert.pem
pkg/dispatcher/dispatcher
pkg/dispatcher/pkg/controller/loadbalancer-controller.go
pkg/function-deployment-webhook/deploy/admission-registration-subst.yaml
